@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg-primary {
    background-color: #f0f0f0;
}

.bg-secondary {
    background-color: #ededed;
}

@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100px); }
}

.cart-icon {
    position: relative;
    top: 8px;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: bold;
}
