<nav class="bg-secondary flex justify-between align-middle items-center w-screen h-12 px-4 shadow-md">
    <div class="flex">
        <a href="/">
            <i class="fa-brands fa-symfony fa-2x"></i>
        </a>
    </div>
    <div class="flex gap-4 justify-end">
        <div class="cart-icon" id="cartIcon">
            <span>🛒</span>
            <span class="cart-count">3</span>
        </div>
        <div class="self-center">
            {{ include('ui/components/language_switcher.html.twig') }}
        </div>
        {% if nav_urls.admin is defined %}
            <a href="{{nav_urls.admin}}">
                <i class="fa-solid fa-sparkles fa-2x"></i>
            </a>
        {% endif %}
        {% if is_logged_in is not null %}
            <a href="{{nav_urls.logout}}">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        {% else %}
            <a href="{{nav_urls.login}}">
                <i class="fa fa-sign-in fa-2x"></i>
            </a>
        {% endif %}
    </div>
</nav>
