{% block sidebar %}
    <div class="mr-16"></div>
    <div class="flex flex-col absolute top-12 left-0" onmouseover="showText(this)" onmouseout="hideText(this)">
        <div class="transition-all duration-200 w-fit h-screen bg-secondary text-white p-4">
            <div id="sidebar">
                <div class="flex flex-col items-center">
                    <a href="/admin" class="flex py-2 text-sm text-white transition-all duration-200 hover:scale-105">
                        <i class="fas fa-home"></i>
                        <span class="transition-all duration-200 ml-2 w-0  overflow-hidden">Home</span>
                    </a>
                    <a href="/admin/users" class="flex py-2 text-sm text-white transition-all duration-200 hover:scale-105">
                        <i class="fas fa-user"></i>
                        <span class="transition-all duration-200 ml-2 w-0 overflow-hidden">User</span>
                    </a>
                    <a href="/admin/catalog" class="flex py-2 text-sm text-white transition-all duration-200 hover:scale-105">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="transition-all duration-200 ml-2 w-0 overflow-hidden">Catalog</span>
                    </a>
                    <a href="/admin/media" class="flex py-2 text-sm text-white transition-all duration-200 hover:scale-105">
                        <i class="fa-solid fa-image"></i>
                        <span class="transition-all duration-200 ml-2 w-0 overflow-hidden">Media</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showText(container) {
            const spans = container.querySelectorAll('span');
            spans.forEach(span => {
                span.style.width = span.scrollWidth + 'px';
            });
        }

        function hideText(container) {
            const spans = container.querySelectorAll('span');
            spans.forEach(span => {
                span.style.width = '0';
            });
        }
    </script>
{% endblock %}